/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.patrick-hand-regular {
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-size: 18px;
  --font-family: 'Patrick Hand', 'Arial';
  --font-color: #4f6f52;
  --background-color: #739072;
  --tile-background-color: #ece3ce;
  --tile-border-color: #3a4d39;
}

body {
  background-color: var(--background-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--font-color);
}

.header {
  color: var(--tile-background-color);
}
