/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.patrick-hand-regular {
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-size: 18px;
  --font-family: 'Patrick Hand', 'Arial';
  --font-color: #4f6f52;
  --background-color: #739072;
  --tile-background-color: #ece3ce;
  --tile-border-color: #3a4d39;
  --a-font-size: calc(var(--font-size) * 0.5);
  --h1-font-size: calc(var(--font-size) * 4);
  --h2-font-size: calc(var(--font-size) * 3);
  --h3-font-size: calc(var(--font-size) * 2);
}

body {
  background-color: var(--background-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.header {
  color: var(--tile-background-color);
  display: flex;
}

#quiz-board-wrapper {
  display: grid;
  grid-template-areas:
    'a1 a2 a3'
    'b1 b2 b3'
    'c1 c2 c3';
  grid-template-columns: 15vw 45vw 25vw;
  grid-template-rows: 25vh 25vh 25vh;
  gap: 1rem;
  padding-bottom: 1rem;
}

.hint-card {
  background-color: var(--tile-background-color);
  color: var(--font-color);
  align-self: stretch;
  display: flex;
  align-items: center;
  border-width: 8px;
  border-radius: 20px;
  border-color: #3a4d39;
  border-style: solid;
}

#hint1 {
  grid-area: a1;
  justify-content: center;
}

#hint1-text {
  grid-area: a2;
  text-indent: 4ch;
}

#hint2 {
  grid-area: b1;
  justify-content: center;
}

#hint2-text {
  grid-area: b2;
  text-indent: 4ch;
}

#hint3 {
  grid-area: c1;
  justify-content: center;
}

#hint3-text {
  grid-area: c2;
  text-indent: 4ch;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

button {
  background-color: var(--tile-background-color);
  color: var(--font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 3ch;
  width: 14ch;
}

#newGameBtn {
  height: 6ch;
  width: 28ch;
}

a,
footer {
  font-size: var(--a-font-size);
  color: var(--tile-background-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}
